aioredis==1.3.1
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.7.1
Automat==20.2.0
autopep8==1.5.4
boto3==1.14.5
botocore==1.17.5
CacheControl==0.12.6
cachetools==4.1.0
certifi==2020.4.5.2
cffi==1.14.0
channels==2.4.0
channels-redis==3.0.1
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.9.2
daphne==2.5.0
defusedxml==0.7.0rc1
Django==2.2.13
django-admin-honeypot==1.1.0
django-braces==1.14.0
django-extra-fields==2.0.5
django-filter==2.3.0
django-oauth-toolkit==1.3.2
django-rest-framework-social-oauth2==1.1.0
django-rest-multiple-models==2.1.3
django-rest-registration==0.5.6
django-silk==4.1.0
django-storages==1.9.1
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
docutils==0.15.2
drf-yasg==1.17.1
firebase-admin==4.3.0
google-api-core==1.20.0
google-api-python-client==1.9.3
google-auth==1.17.1
google-auth-httplib2==0.0.3
google-cloud-core==1.3.0
google-cloud-firestore==1.7.0
google-cloud-storage==1.29.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
gprof2dot==2019.11.30
grpcio==1.29.0
gunicorn==20.0.4
hiredis==1.1.0
httplib2==0.18.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
inflection==0.5.1
isort==5.6.1
itypes==1.2.0
Jinja2==2.11.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.0
oauthlib==3.1.0
packaging==20.4
Pillow==7.1.2
protobuf==3.12.2
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint==2.6.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2020.1
requests==2.23.0
requests-oauthlib==1.3.0
rest-firebase-auth==0.0.2
rsa==4.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
sentry-sdk==0.16.2
service-identity==18.1.0
six==1.15.0
social-auth-app-django==3.4.0
social-auth-core==3.3.3
sqlparse==0.3.1
toml==0.10.1
Twisted==20.3.0
txaio==20.4.1
typing==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.9
wrapt==1.12.1
zope.interface==5.1.0
